# GCP 
gke_cluster_name: <gke cluster name>
create_gcp_credentials: yes
# defaults to <gke_cluster_name>-vpc
gcp_vpc_name: <your vpc name>
gcp_create_vpc: yes
# the path to GCP SA JSON file
gcp_cred_file: "{{ ansible_env.HOME }}/.config/gcloud/credentials"
gcp_project: <your  GCP project name>
gcp_region: <your  GCP project region>
# just a single maste cluster
gke_cluster_location: <your  GCP project zone>

# CIVO key
civo_api_key: <your civo api key>
civo_region: LON1
civo_k3s_cluster_name: <civo k3s cluster name>

# GCP SA JSON file
gcp_project: <your gcp project>
gcp_region: <gcp region to use>

# AWS
create_aws_credentials_file: yes
aws_access_key_id: <your aws access id>
aws_secret_access_key: <your aws access secret key>
aws_region: <your aws region>
eks_cluster_name: <the EKS cluster name>

#CIVO 
civo_cred_file: "{{ ansible_env.HOME }}/.config/gcloud/credentials"
