#jinja2: lstrip_blocks: "True"
apiVersion: v1
clusters:
- cluster:
    server: [[ gke_master_endpoint ]]
    certificate-authority-data: [[ gke_master_ca ]]
  name: gke_[[ gke_cluster_name ]]
contexts:
- context:
    cluster: gke_[[ gke_cluster_name ]]
    user: gke
  name: gke
current-context: gke
kind: Config
preferences: {}
users:
- name: gke
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1beta1
      command: gke-gcloud-auth-plugin
      installHint: Install gke-gcloud-auth-plugin for use with kubectl by following
        https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke
      provideClusterInfo: true
